$backgroundColor: #008080;
$white: #ffffff;
$titleShadow:  0px 2px 4px -7px #276873;
$baseColor: #599bb3 linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
$titleFont: 'Roboto', serif;
$highlight:  #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
$buttonShadow:  0px 10px 14px -7px #276873;
$buttontextshadow: 0px 1px 0px #3d768a;
