.textEditor {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  font-size: 25px;
  padding:10px;
  display: inline-block;

    .bold {
      font-weight:bold;
    }

    .italic {
      font-style: italic;
    }

    .underline {
      text-decoration: underline;
    }

    .centeralign {
      text-align: justify;
      text-justify: inter-word;
      display: block;
    }

    .leftalign {
      text-align: left;
      display: block;
    }

    .rightalign {
      text-align: right;
      display: block;
    }
}
